<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>calendar_duplicate</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'CSS/navbar.css')}}">
</head>

<body>

    <div class="container01">
        <nav class="navbar01">
            <button class="nav-toggle" id="navToggle" aria-label="Toggle navigation">&#9776;</button>
            <ul id="navMenu">
                <li><a href="/">Home</a></li>
                <li><a href="/guest_event">Events</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li>another thing</li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </div>


    <h3>this page is for calendar</h3>
    <script src="{{url_for('static', filename='JS/navbar.js')}}"></script>
</body>

</html>